body {
	margin: 0;
	padding: 0;
}
#background {
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 100%;
}
#headerDiv {
	position: absolute;
	text-align: right;
	top: 0;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 13px;

}
#headerIcons {
	margin-right: 27px;
	line-height: 60px;
}
#gmailAndImages {
	display: inline-block;
}
#appsAndSignIn {
	display: inline-block;
}
#apps {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
#signIn {
	background-color: #4285f4;
	border-radius: 2px;
	border: 1px solid #4285f4;
	font-weight: bold;
	color: white;
	padding: 4px 9px;
	margin-left: 15px;
}
#headerDiv img:hover {
	opacity: 0.5;
}
#headerDiv img {
	display: inline-block;
	margin-left: 15px;
	/*align the image to the center of the div*/
	vertical-align: middle;
}
#headerDiv a {
	margin-left: 15px;
}
#logo {
	position: relative;
	text-align: center;
	top:25%;

}
#footerDiv {
	position: absolute;
	font-family: arial, sans-serif;
	font-size: 10pt;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	color: #666;
}
#footerLinksLeft {
	position: relative;
	line-height: 40px;
	width: 49%;
	display: inline-block;
}
#footerLinksRight {
	position: relative;
	text-align: right;
	right:0;
	width:49%;
	display: inline-block;
	line-height: 40px;

}
#footerLinksRight a {
	padding-right: 27px;
}
#footerLinksLeft a {
	padding-left: 27px;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #666;
}
#searchForm {
	position: relative;
	margin: auto;
	top: 25%;
	bottom: 50%;
	text-align: center;
}
 
#searchbarDiv {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: auto;
	text-align: center;
}
#searchbox {
	text-align: left;
	border: none;
	background: transparent;
	padding: 10px 7px;
	border-radius: 1px;
}

#searchbarTextboxDiv {
	display: inline-block;
	border: 1px solid #c0c0c0;
	padding-right: 5px;
}
#searchbarTextboxDiv:hover {
	border-color: black;
} 
#searchbarDiv img {
	display: inline-block;
	vertical-align: middle;
}
#searchbox:active #searchbarTextDiv{
	border-color: blue;
}
#googleSearch {
	font-family: arial, sans-serif;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	font-size: 13px;
	font-weight: bold;
	color: #757575;
	padding: 8px 16px;
	margin: 11px 4px;
}
#imFeelingLucky {
	font-family: arial, sans-serif;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	font-size: 13px;
	font-weight: bold;
	color: #757575;
	padding: 8px 16px;
	margin:11px 4px;
}
#imFeelingLucky:hover {
	background-color: #f1f1f1;
	border:1px solid #c0c0c0;
	border-radius: 2px;
	color: black;

}
#googleSearch:hover {
	background-color: #f1f1f1;
	border:1px solid #c0c0c0;
	border-radius: 2px;
	color: black;	
}
